<div class="row">
    <div class="col-lg-6 col-lg-push-3 hide tableCalendar ">
        <table style="width: 800px;" class="table text-center">
            <tr>
                <td colspan="2" valign="top">
                    <div style="float: left;" id="loginControlDiv"></div>
                    <div style="float: right;" id="statusControlDiv"></div>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <div id="navControlDiv"></div>
                </td>
                <td valign="top" align="right">
                    <div id="viewControlDiv"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2" valign="top">
                    <div id="calendarBodyDiv"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2" valign="top">
                    <div id="eventDisplayDiv"></div>
                </td>
            </tr>
        </table>
    </div>
</div>